header{
    background-color: teal;
    height: 100px;
    font-size: 20px;
    gap: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;  
a{
    color: white;
    text-decoration: none;
}
}